

nav {
    max-width: 100%;

}

li.nav-item.dropdown>a.nav-link.dropdown-toggle{
    font-size: 1rem;
}

.navbar>.container-fluid{
    justify-content: flex-start;
}

.navbar-collapse{
    flex-grow: 0;
}

/*...............NAVBAR: MENÚ SUBCATEGORÍAS............*/


/*.....................................................*/
h1 {
    font-size: 4.5rem;
}

.titulo__especial {
    width: 80%;
}
/*...............CARROUSEL............*/

.carousel {
    display: flex;
    max-width: 100%;
    margin: auto;
}

.carousel-item{

    background-color: rgb(247, 175, 21);
}
.img__container__carousel {
    max-width: 890px;
}

.img__carrousel{
    height: 510px;
}

.parrafo__carrousel{
    color: whitesmoke;
    font-family: "Playfair", "Lora", Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
/*...............SECCIÓN: HOME............*/

#cofre__magico {

    display: flex;
}

.frase__container {
    width: 50%;
}


.h3__especial {
    width: 700px;
    font-size: 2rem;
}

.content{
    width: 20%;
}

/*...............SECCIÓN: PRODUCTOS ............*/

a.card-link.btn__comprar:hover{

   color: #0a4665; 
   background-color: rgb(247 175 21 / 80%);
}

/*...............SECCIÓN: BENEFICIOS ............*/

iframe {
    display: block;
    aspect-ratio: 16/ 9;
}

/*.............SECCIÓN: TRUCO.....................*/

.img__teatro{
    height: 600px;
}

/*...............SECCIÓN: CONTACTO - FORMULARIO ............*/

.input__form{
    width: 80%;
}

.form__btn {
    font-size: 1.5rem;
    width: 20%;
}

/*........................FOOTER:EMPRESA..........*/

#btn__newsletter{

    width: 50%;

}

